<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="converionPattern" value="%date{dd-MMM-yyyy-HH:mm:ss,fff} [%level] [%method] - %message%newline" />
    <add key="initUrl" value="http://demo.guru99.com/test/radio.html" />
    <add key="expectedMessage" value="1 file has been successfully uploaded." />
    <add key="fileLocation" value="C:\sample.jpg" />
    <add key="YourLogo.Report.Path" value="C:\automation\YourLogo\YourLogo\Report\TestsReport.html" />
    <add key="YourLogo.Logger.LogFilePath" value="C:\automation\YourLogo\YourLogo\Guru99.Logs.log" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>